<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>restaurant list</title>
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'>
  <link rel='stylesheet' href='/stylesheets/show.css'>
  <link rel='stylesheet' href='/stylesheets/index.css'>

</head>

<body>
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <a class="navbar-brand " href="/" style="color: aliceblue;">Restaurant List</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          {{!-- <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a> --}}
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">餐廳總覽</a>
        </li>
        <li class="nav-item"></li>
        <a class="nav-link" href="/favorite">私人清單</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/private">我的餐廳</a>
        </li>
      </ul>
      {{#if isAuthenticated}}
      <a href="/users/logout" class="btn btn-outline-primary " style="font-weight: bolder;color:white">Logout</a>

      {{else}}
      <a href="/users/login" class="btn btn-outline-primary " style="font-weight: bolder;color:white">Login</a>
      {{/if}}
    </div>
  </nav>
  {{{body}}}
  <!-- Footer -->
  <footer class="fixed-bottom page-footer font-small bg-secondary mt-5">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 ">© 2019 Copyright:
      <a href="#"> AC_RestaurantList.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
  <script scr='/javascripts/popper.min.js'></script>
  <script scr='/javascripts/jquery-3.4.1.min.js'></script>
  <script scr='/javascripts/bootstrap.min.js'></script>
  <script src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>

</body>

</html>